
.movie-list {
  display: grid;
  list-style: none;
  margin: 0 auto;
  grid-gap: 10px;

	grid-auto-flow: dense;
  padding: 1rem;
  @media screen and (min-width: 600px) {
		grid-template-columns: repeat(3, 3fr);
	}
  @media screen and (min-width: 960px) {
		grid-template-columns: repeat(4, 3fr);
	}
  @media screen and (min-width: 1400px) {
		grid-template-columns: repeat(6, 3fr);
	}
  &__item {

    &__poster {
      margin-bottom: 1rem;
      box-shadow: 0 3px 8px rgba(#000, .5);
      transition: transform .25s;
      position: relative;
      &__image {
        display: block;
        border-radius: 5px;
        overflow: hidden;
      }
    }
    &__rating {
      position: absolute;
      top: 1rem;
      left: -.5rem;
      color: #fff;
      background-color: #FF424F;
      min-width: 40px;
      text-align: center;
      padding: .5rem;
      border-radius: 3px 10px 10px 3px;
      box-shadow: 0 2px 3px rgba(#000, .18);
      &--5, &--6 {
        background-color: #FFB10A;
      }
      &--7, &--8, &--9, &--10 {
        background-color: #A7B030;
      }
    }
    &__title {
      font-size: 1rem;
      color:#fff;
      font-weight: normal;
      margin-top: 1.5rem;
      margin-bottom: .5rem;
    }
    &__link {
      display: block;
      padding: 1rem;
      &:hover {
        .movie-list__item {
          &__poster {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
