.search {
	position: relative;
	color: #444;
	text-align: left;
	flex-grow: 1;
	&__field {
		width: 100%;
		max-width: 100% !important;
		padding: 2rem 1rem 2rem 32px !important;
		background-color: transparent;
		border: none;
		color:#fff;
		opacity: .5;
		background: url('search.svg') no-repeat center left;
		background-size: 20px 20px;
		margin-bottom: 0 !important;
		height: 100%;
		font-size: 1.4rem;
		&:placeholder-shown {
		    opacity: .5;
		}
		&:focus {
			outline: none;
			opacity: 1;
			background-color: transparent !important;
			box-shadow: none !important;
			border-width: 0 !important;
		}
		//height: 60px;
	}
	&__list {
		position: absolute;
		width: 100%;
		max-width: 600px;
		top: 83px;
		left: 0;
    background-color: #aaa;
    overflow: auto;
    max-height: 800px;
		margin: 0;
		padding: 0;
		list-style: none;
		&__item {
			&:nth-child(2n) {
				background-color: #fafafa;
			}
			&__title {
				color:#444;
			}
			&__image {
				position: absolute;
				top: 1rem;
				left: 1rem;
				width: 50px;
			}
			&__link {
				display: block;
				padding: 1rem;
				color: #444;
				position: relative;
				height: 105px;
				padding-left: 85px;
			}
		}
	}
}
